/* GERAL */
body {
    margin: 0;
    color: white;
    font-family: 'DM Sans';
}

/* TÍTULO */
h2 {
    font-family: 'Bebas Neue';
    font-size: 48px;
    line-height: 1;
    margin: 0;
}

/* LAYOUT */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* CARDS */
.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;
    transition: flex 0.6s;
}

.card.gaga {
    background: radial-gradient(ellipse, rgb(25, 3, 50), rgb(0, 0, 0))
}

.card.bruno {
    background: radial-gradient(ellipse, rgb(120, 50, 0), rgb(0, 0, 0))
}

.card.weeknd {
    background: radial-gradient(ellipse, rgb(90, 0, 0), rgb(0, 0, 0))
}

.card:hover {
    flex: 3;
}

/* BOTÃO */
.btn-playlist {
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 8px 20px;
    width: fit-content;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn-playlist:hover {
    background-color: rgba(255, 255, 255, 0.18);
    border-color: rgba(255, 255, 255, 0.5);
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 13px;
}